trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
  displayName: Compile
  
- pwsh: |
    docker run mcr.microsoft.com/mssql/server:2019-latest /opt/mssql/bin/sqlservr -v